.slide-enter-active {
  animation: slide-in .5s;
}
.slide-leave-active {
  animation: slide-out .5s;
}
@keyframes slide-in {
  from {bottom:-2.8rem;}
  to {bottom:0;}
}
@keyframes slide-out {
  from {bottom:0;}
  to {bottom:-2.8rem;}
}
.weui_dialog_shop {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background: #fff;
}
.scrollShopList {
  position: relative;
  overflow: hidden;
  height:100%;
}
.returnBack {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  font-size: 1rem;
  height: 2.8rem;
  line-height: 2.8rem;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;
  color: #fff;
}
.returnImg {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-top: -4px;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  flex-wrap:wrap;
  width: 100vw;
  border-bottom: 2px solid #F2F2F2;
}
.weui_flex_item {
  width: 50vw;
  border-bottom: 2px solid #F2F2F2;
  box-sizing: border-box;
}
.weui_flex_item:nth-child(odd){
  border-right: 2px solid #F2F2F2;
}
.weui_flex_item:last-child {
  border-bottom: none;
}
.weui_flex_item .shopName {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 66%;
  margin-left: 17%;
  padding: 0 5px 5px 5px;
  font-size: 1rem;
}
.logoImg {
  width: 42vw;
  margin: 4vw 4vw 0 4vw;
  height: 23vw;
  border-radius: 5px;
}
.shopTab {
  text-align: center;
  color: #9c9c9c;
  padding: 0 5px 5px 5px;
}
.shopTab span {
  padding: 0 6px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  margin: 0 4px;
}
